<div class="container">
  <div class="container-inner inner-default clearfix">
    <% amazon_items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% #TODO 商品画像 %>
            <% if !item.get('LargeImage/URL').nil? %>
              <%= image_tag( item.get('LargeImage/URL') , alt: item.get('ItemAttributes/Title')) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item.get('ItemAttributes/Title')) %>
            <% end %>
            
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= item.get('ItemAttributes/Title') %>
            <% #TODO 商品タイトル %>
          </p>
        </div>
        <div class="action clearfix">
          <%= render partial:"form_want" , locals: {item: item}%>
          <%= render partial:"form_have" , locals: {item: item}%>
        </div>
      </div>
    <% end %>
  </div>
</div>